*build/
build-dev/
build-test/
*.sock
*.log
__pycache__/
*.pyc

# Clang cache (clangd index files)
.cache/
*.idx

# Local runtime settings (keep example tracked)
.manifold.settings.json

#Local CMake generated Visual Studio files
vs_build/

#Ignore Visual Studio files
.vs/
*.user
*.obj
*.pdb
*.idb
*.ilk
Debug/
Debug_inline/
Release/